@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600;700&display=swap'); */

*{

  font-family: 'Abril Fatface', cursive;
}
.drawer-side a.active {
    color: white;
  }
  .drawer-side a {
    background-color: transparent;
  }